<%- include('./layouts/header') %>


<!-- about section starts  -->
<section class="text-center text-md-start p-5">
    <h4 class="mb-5"><strong>How to use this Web Application ?</strong></h4>
    <!-- Register as a user-->
    <div class="row">
      
  
        <div class="col-md-8 mb-4">
          <h5>Register as a user</h5>
          
          <p>You can register in this web app by visiting page, you can also utilise the continue with google button</p>
  
        <a href="/documentation"> <button type="button" class="btn btn-dark">try it</button></a> 
        </div>
        <div class="col-md-4 mb-4">
            <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
              <img src="https://uploads-ssl.webflow.com/5c9200c49b1194323aff7304/61e00e194e1ac414b380926d_RBAC-570x330.png" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>
      </div>
<hr class="mb-5">
    <!-- Admin login  -->
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
          <img src="https://uploads-ssl.webflow.com/5c9200c49b1194323aff7304/61e00e194e1ac414b380926d_RBAC-570x330.png" class="img-fluid" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-8 mb-4">
        <h5>login as Admin</h5>
        <p>
         email : admin@gmail.com
        </p>
        <p>
         password : admin
        </p>
        <p>Admin can access all the pages of this application, he can change the role of available users , Admin wont be able to change his own role here. </p>

      <a href="/documentation"> <button type="button" class="btn btn-dark">try it</button></a> 
      </div>
    </div>



  </section>
  <!--Section: Content-->
<!-- about section ends  -->

<%- include('./layouts/footer') %>