<%- include('./layouts/header') %>

<div class="container">
    <div class="error-container">
      
      <h1 class="display-4"><%= error.status %></h1>
      <p style="color: red;" class="lead"><%= error.message %></p>
     
      <a href="/admin/allusers" class="btn btn-success">Go Back</a>
    </div>
  </div>

<%- include('./layouts/footer') %>