<%- include('./layouts/header') %>

<div class="container">
    <div class="error-container">
       
    
       <img src="https://static.vecteezy.com/system/resources/previews/005/611/288/original/conceptual-os-error-warning-for-web-pages-banners-presentations-social-media-documents-posters-404-error-web-page-flat-style-cartoon-illustration-free-vector.jpg" alt="Error Image" class="error-image">
       <h4 style="color: red;"><%= error %></h4>
       <a href="/auth/register" class="btn btn-warning">Go Back </a>
     
    </div>
  </div>

<%- include('./layouts/footer') %>